# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#*GoogleClientID  399219383096-0fjc6h26ahis99dlc2sp61q9hn76q11r.apps.googleusercontent.com*
#*GoogleSecret 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*
#*GitHubClientID Ov23limY71RQt4dSCEgB*
#*GitHubSecret 5a1df7be8c74310ce9cd4f63d6ebe004e0a7fc09*
