@import "tailwindcss";

@theme {
    /* Backgrounds */
    --color-bg-page: #0a0e17;
    --color-bg-card: #111827;
    --color-bg-elevated: #1a2332;

    /* Accent */
    --color-accent: #10b981;
    --color-accent-hover: #059669;

    /* Text */
    --color-text-primary: #f1f5f9;
    --color-text-secondary: #94a3b8;
    --color-text-disabled: #475569;

    /* Stock Colors */
    --color-positive: #10b981;
    --color-negative: #ef4444;

    /* Border */
    --color-border: #1e2d3d;

    /* Charts */
    --color-chart-line: #10b981;
    --color-chart-fill: #10b98120;
    --color-candle-green: #10b981;
    --color-candle-red: #ef4444;

    /* Typography */
    --font-sans: "Inter", sans-serif;

    /* Border Radius */
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;

    /* Shadows */
    --shadow-card: 0 4px 24px rgba(0, 0, 0, 0.4);
    --shadow-elevated: 0 8px 32px rgba(0, 0, 0, 0.6);
}
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

@theme {
    --animate-tickerLeft: tickerLeft 20s linear infinite;
    --animate-tickerRight: tickerRight 20s linear infinite;

    @keyframes tickerLeft {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes tickerRight {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}

.ticker:hover {
    animation-play-state: paused;
}
